@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		overflow-x: clip;
	}

	body {
		max-width: 100%;
	}

	pre,
	code {
		font-size: 0.875rem;
		overflow-x: auto;
	}

	img,
	svg,
	video,
	canvas {
		max-width: 100%;
	}
}
